<!DOCTYPE html>
<html lang="en" ng-app="home">
<head>
	<script src="../../../scripts/buildfire.js"></script>
	<link href="menu.css" rel="stylesheet">
</head>
<body>
    <div ng-controller="homeCtrl" class="fill container-fluid">
		<div class="cus-logo-contain row">
			<img id="logo" class="h-v-center" ng-src="{{logoUrl}}" />
		</div>
		<div id="carousel" class="row">
			<img ng-repeat="imgUrl in images" ng-src="{{imgUrl}}" width="100%" class="shadow" />
		</div>
		<nav class="circular-menu">
			<div class="circle">
				<a  href="" class="circleIcon"  ng-click="click(w)" ng-repeat="w in widgets">
					<div class="media">
						<img  ng-src="{{w.icon}}" />
					</div>
					<p class="ellipsis">{{w.title}}</p>
				</a>
			</div>
			<a href="" class="menu-button shadow"><img src="start.png"></a>
		</nav>
    </div>

	<!-- JS -->
    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="homeCtrl.js"></script>
</body>
</html>
